<div class="checkout-div">
  <h1 class="order-header">Your Order</h1>
  <h3 class="subtotal">Subtotal</h3><h4 class="subtotal-number">${{subtotal}}</h4>
    {{#each items}}
        <li class="checkout-item">{{name}}</li>
    {{/each}}

</div>
