@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}
#container {
  @include outer-container(1200px);
}
.board-image{
  height: 210px;
  width: 100%;
}
.top-nav {
  height: 60px;
  width: 100%;
}
.nav-title {
  font-family: "Arial";
}
.item-list {
  @include span-columns(9);
  list-style-type: none;
  margin-left: -3%;
}
.item-li {
  @include span-columns(3 of 9);
  @include omega(3n);
  border: 2px solid #EEEEEE;


}
.checkout-div {
  @include span-columns(2.7);
  border: 2px solid black;
  height: 300px;
  float:right;
  margin-top: 2%;
  position: relative;
}
.header {
  background: url("https://images.unsplash.com/photo-1422217604777-710d38a8d846?q=80&fm=jpg&s=28271d77658911683df31bfcbfafe02c");
  background-position:center;
  background-size: cover;
  height: 400px;
  width: 100%;
}
.order-header{
  text-align: center;
}
.subtotal-number {
  margin-left: 70%;
}
.subtotal{
  float: right;
  margin-right: 7%;
}
.checkout-item-ul {
  margin-top: -20%;
}
